@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');

.logo {
    height: 55px;
}

.navbar {
    position: fixed;
    width: 100%;
    background-color: #121212;
}
#videoGrid {
    padding-top: 56px;
}

.navbar-nav {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

form.d-flex {
    flex-grow: 1;
    min-width: 0;
}
/* 검색 창 */
.custom-searchfiled {
    display: block;
    flex: 1 1 100px;
    min-width: 100px;
    max-width: 500px;
    width: 100%;
    background-color: #121212;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-color: #333333;
}

.custom-searchfiled::placeholder {
    color: #818181;
    opacity: 1;
}

/* 검색 버튼 */
.custom-searchButton {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-color: #333333;
    margin-right: 10px;
}

/* 햄버거 버튼 */
.hamburger-button {
    color: #ffffff;
    border-radius: 0.5rem;
}

/* 프로필 사진 버튼 */
.profile-button {
    display: inline-block;
    height: 32px;
    width: 32px;
    border-radius: 5rem;
    overflow: hidden;
}

.profile-button img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/* 만들기 버튼 */
.create-button {
    background-color: #272727;
    border-radius: 5rem;
    color: #ffffff;
}

.inner_body {
    display: flex;
    justify-content: center;
    align-items: center;

    background: #222;
    font-family: 'Poppins', sans-serif;
}

/* 동적 사이드바 */
.side_bar {
    position: fixed;
    top: 0;
    width: 250px;
    height: 100%;
    background: #111;
    /* transition: all 0.3s ease; */
}

.inner_body button {
    display: inline-block;
    border: 1px solid #eee;
    color: #eee;
    background-color: transparent;
    padding: 10px 20px;
    cursor: pointer;
    margin: 0 5px;
}

.side_bar ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 20px;
    width: 100%;
}

.side_bar ul li {
    width: 100%;
    padding: 10px 10%;
}

.side_bar ul li a {
    color: #eee;
    text-decoration: none;
}

aside.side_bar hr {
    border: none;
    border-top: 1px solid #444; /* 원하는 색상 */
    margin: 1rem 0;
}

/* 버튼 테두리 */
.transparent-button {
    background-color: transparent;
    color: white;
    border-radius: 50%;
    padding: 8px;
}

.transparent-button:hover {
    background-color: rgba(255, 255, 255, 0.1); /* 살짝 흰 배경 */
}

.sidebar_logo {
    top: 5px;
    left: 5px;
}

/* 아이콘 크기 통일 */
.icons {
    width: 30px;
    height: 30px;
    padding-right: 2px;
    vertical-align: middle;
}

/* 정적 사이드바 */
.static_side_bar {
    position: fixed;
    top: 83px;
    left: 0;
    width: 72px;
    height: 100%;
    background-color: #121212;
    font-size: small;
    text-align: center;
    padding-left: 4px;
}

.static_side_bar li {
    margin-top: 20px;
    margin-left: 5px;
}

.static_side_bar li img {
    margin-bottom: 5px;
}

.static_side_bar ul li a {
    color: #eee;
    text-decoration: none;
}

/* 오른쪽 동적 사이드바 */
.right_side_bar {
    position: fixed;
    top: 60px;
    right: 16px;
    width: 300px;
    height: 684px;
    background-color: #282828;
    color: white;
    border-radius: 12px;
    background-size: auto;
    border-image-slice: 100%;
    display: block;
    font-family: 'Roboto', 'Arial', 'sans-serif';
    font-size: 10px;
    overflow-y: auto;
    scrollbar-width: thin;
    text-size-adjust: 100%;
    unicode-bidi: isolate;
}

.right_inner_body button {
    display: inline-block;
    color: #eee;
    background-color: transparent;
    padding: 10px 20px;
    cursor: pointer;
    margin: 0 5px;
}

.right_side_bar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.right_side_bar li {
    padding: 0.75rem 1.25rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.75rem;
    font-size: 0.9rem;
}

.right_side_bar li:hover {
    background-color: #383838;
}

.right_side_bar ul li {
    width: 100%;
    padding: 10px 10%;
}

.right_side_bar ul li a {
    color: #eee;
    text-decoration: none;
}

aside.right_side_bar hr {
    border: none;
    border-top: 1px solid #444; /* 원하는 색상 */
    margin: 1rem 0;
}
